:root {
    /* 
    --------------------------------
    Easy Page Landing Page  Css Variables
  
    PLEASE NOTE:
  
    For consistency, we use the same color/fonts variables as the ones specified in the styles-guide.md file.
    
    reference: styles-guide.md 
    --------------------------------
    */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --color-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-light-gray: hsl(0, 0%, 98%);
    --font-family:  "Public Sans", sans-serif;
    --footer-color: hsl(233, 4%, 55%);
  }
  
  /* -----Global Styles----- */
  body {
    font-family:  "Public Sans", sans-serif;
    background-color: var(--color-light-gray);
    color: var(--color-dark-blue);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

   /*Navigation Section starts here */ 

.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: justify;
  background-color: white;
  padding: 10px 20px;
}s

.logo {
  display: flex;
  align-items: left; 
}

.logo-img {
  height: 40px; 
  margin-right: 10px;
}

.nav-links {
  list-style-type: none; 
  display: flex;
  margin: 0; 
  padding: 0; 
}

.nav-links li {
  margin: 0 15px; 
}

.nav-links a {
  color: var(--Grayish-Blue); 
  text-decoration: none; 
  padding: 10px 15px; 
}

.nav-links a:hover {
  background-color: white; 
  color:white; 
}

.request-button-container {
  margin-left: auto; 
}

.request-button {
  background-color: #007BFF; 
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px;
  text-decoration: none; 
}

.request-button:hover {
  background-color: #dee1e8; 
}

    /* Benefits section starts here */
.benefit {
  background-color: var(--Light-Grayish-Blue);
  padding: 3rem 0;
  line-height: 1.6rem;
}

.benefit-container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.benefit-title {
  width: 60%;
}

.benefit-title p {
  margin: 1rem 0;
}

.card-description, .benefit-title p {
  font-weight: 300;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 2rem 0;
}

.card img {
  width: clamp(2.5rem, 4.5rem, 5.5rem);
}

.card .card-title {
  font-weight: 600;
  margin: 1em 0;
  width: max-content;
}


/* Footer starts here*/
footer{
  color: var(--White);
  background-color: var(--color-dark-blue);
  padding: 3rem;
}
.footerMainContainer{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}

.footerContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.logo{
  display: block;
  text-align: center;
  margin-bottom: 3rem;
}

.socialIcons svg{
  margin-right: 8px;
}
.footerMenu{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
 column-gap: 80px;
} 
footer h5{
  font-size: 14px;
  font-weight: 400;
  margin: 9px 0;
}

.buttonContainer{
  text-align: end;
}
.buttonContainer span{
display: block;
margin-top: 1.5rem;
font-size: 14px;
color: var(--footer-color);
}
button{font-size: 15px;
  font-weight: 700;
  color: var(--White);
  border: none;
  background-image: linear-gradient(to right, rgb(116, 225, 116), rgb(63, 165, 199));
padding: 15px 25px;
border-radius: 25px;}

@media (max-width: 768px) {
  :root {
    font-size: 16px;
  }

  body {
    line-height: 1.5rem;
  }

  .benefit-container {
    text-align: center;
  }

  .benefit-title {
    width: 100%;
  }

  .benefit-title h2 {
    line-height: 2rem;
  }

  .card-container {
    flex-direction: column;
  }

  .card .card-title {
    width: unset;
  }
}
@media (max-width: 768px) {
  .footerMainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
      }

  .footerContainer {
    grid-template-columns: 1fr;
  }
   .footerMenu {
    grid-template-columns: 1fr;
text-align: center;
margin-top: 29px;
  }
  .buttonContainer {
    text-align: center;
  }
} 
button{
  margin-top: 25px;
}
